{% extends 'farms/base.html' %}
{% load widget_tweaks %}
{% load record_filters %}
{% block content %}
<div class="container-fluid" style="margin-top:15px;">
    <div class="row">
        <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">
            <div class="card-block">
                <h4 class="card-title">What's this?</h4>
                <p class="card-text" >These are your farms. Here you can file horses under farms for organizational purposes.</p> 
            </div>
        </div>
    </div>
    {% include 'partials/filter.html' %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>&nbsp</th>
                        <th>Name</th>
                        <th>Farm</th>
                        <th>Date of Birth</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Weight</th>
                        <th>Pregnancy Status</th>
                        <th>Date of Impregnation</th>
                        {% if sold_list %} <th>Sale Price</th> {% endif %}
                        <th>&nbsp</th>
                        <th>&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    {% if horses|length > 0 %}
                    {% for horse in horses %}
                        {% with horse.id as num %}
                        <tr>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{% url 'records:review-horse' pk=horse.id %}">Review</a>
                            </td>
                            <td>{{horse.name}}</td>
                            <td>{% if horse.farm %} {{horse.farm}} {% endif %}</td>
                            <td>{{horse.dob}}</td>
                            <td>{{years|get_item:num}} Years {{months|get_item:num}} Months</td>
                            <td>{{horse.get_gender_display}}</td>
                            <td>{{horse.weight|default_if_none:"0"}} lbs</td>
                            <td>{{horse.get_pregnant_display}}</td>
                            <td>{%if horse.date_of_impregnation %}{{horse.date_of_impregnation}} {% endif %}</td>
                            {% if sold_list %} <td>${{horse.sale_price}}</td>{% endif %}
                            <td>
                                <form class="form" action="{% url 'records:delete-horse' pk=horse.id %}">
                                    <button type="button" class="btn btn-danger btn-sm submitter" >Delete</button>
                                </form>
                            </td>
                            <td>
                                {% if sold_list %}
                                    <form class="form" id="formSale{{horse.id}}" action="{% url 'records:cancel-sell-horse' pk=horse.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-info btn-sm anceller">Cancel Sale</button>
                                    </form>
                                {% else %}
                                    <form class="form" id="formSale{{horse.id}}" action="{% url 'records:sell-horse' pk=horse.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value="0" name="price">
                                        <button type="button" class="btn btn-info btn-sm seller">Sell</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="9" style="text-align:center">
                                No horses have been created yet.
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#resetButton").click(function() {
            $("#keyword").val("")
            $("#weight_upper").val("")
            $("#pregnant").val("")
            $("#upper_age").val("")
            $("#end").datepicker("update", "")
            $("#weight_lower").val("")
            $("#gender").val("")
            $("#lower_age").val("")
            $("#start").datepicker("update", "")
            $("#age_class").val("0")
            $(".label").show()
        })
        $("input").on('input', function() {
            var $label = $("label[for='"+$(this).attr('id')+"']");
            $label.hide()
        })
        $("input").change(function() {
            var $label = $("label[for='"+$(this).attr('id')+"']");
            if ($(this).val() == "") {            
            $label.show()
            }
        })
        if ($("#keyword").val() != ""       || $("#weight_lower").val() != "" ||
            $("#weight_upper").val() != ""  || $("#gender").val() != "" || 
            $("#pregnant").val() != ""      || $("#lower_age").val() != "" || 
            $("#upper_age").val() != ""     || $("#start").val() != "" || 
            $("#end").val() != "") {
                if ($("#keyword").val() != "") { 
                    var $label = $("label[for='"+$("#keyword").attr('id')+"']");
                    $label.hide()
                }
                if ($("#weight_upper").val() != "") { 
                    var $label = $("label[for='"+$("#weight_upper").attr('id')+"']");
                    $label.hide()
                }
                if ($("#upper_age").val() != "") {
                    var $label = $("label[for='"+$("#upper_age").attr('id')+"']");
                    $label.hide()
                }
                if ($("#weight_lower").val() != "") { 
                    var $label = $("label[for='"+$("#weight_lower").attr('id')+"']");
                    $label.hide()
                }
                if ($("#lower_age").val() != "") {
                    var $label = $("label[for='"+$("#lower_age").attr('id')+"']");
                    $label.hide()
                }
                $header = $(".filter-collapsed");
                $content = $header.next();

                $content.slideToggle(500, function () {
                    if ($content.is(":visible")) {
                        $(".fa-chevron-up").css("display","inline-block");
                        $(".fa-chevron-down").css("display", "none");
                    }
                    else {
                        $(".fa-chevron-up").css("display", "none");
                        $(".fa-chevron-down").css("display","inline-block");
                    }
                });
        }
        // Format works here but not in normal datepicker...
        $('.input-daterange input').each(function() {
            $(this).datepicker();
        });
        $(".filter-collapsed").click(function () {

            $header = $(".filter-collapsed");
            $content = $header.next();

            $content.slideToggle(500, function () {

                    if ($content.is(":visible")) {
                            $(".fa-chevron-up").css("display","inline-block");
                            $(".fa-chevron-down").css("display", "none");
                    }
                    else {
                            $(".fa-chevron-up").css("display", "none");
                            $(".fa-chevron-down").css("display","inline-block");
                    }


            });

        });
        $(".seller").click(function() {
            var $form = $(this).closest(".form")
            var name = "#"+$form.attr('id')+" :input"
            var $price;
            $(name).each(function() {
                var $input = $(this)
                if ($input.attr("name") != undefined && $input.attr("name").localeCompare("price") == 0) {
                    $price = $(this)
                }
            })
            $.confirm({
                backgroundDismiss: false,
                escpaeKey: false,
                backgroundDismissAnimation: 'shake',
                title: "Confirm sale",
                content: "<form action='' class='form'><div class='form-group'><label for='value'>Sale Price</label><input type='number' class='value form-control' name='value' id='saleValue' required></div></form>",
                buttons:{
                    formSubmit: {
                        text: "Submit",
                        btnClass: 'btn-blue',
                        action: function() {
                            var value = this.$content.find('.value').val();
                            if (!value) {
                                $.alert('Please provide a sale price.')
                                return false;
                            }
                            $price.val(value)
                            $form.submit()
                        }
                    },
                    cancel: function() {

                    }
                }
            })
        })
        $(".canceller").click(function() {
            $form =  $(this).closest("form")
            $.confirm({
                backgroundDismiss: false,
                escapeKey: false,
                backgroundDismissAnimation: 'shake',
                title: 'Are you sure?',
                content: 'This action will erase this horse\'s sale price and move the horse back to regular list!',
                buttons: {
                    confirm: function () {
                        $form.submit()
                        
                    },
                    cancel: function () {
                        
                    },
                }
            });
        })
        $(".submitter").click(function() {
            $form =  $(this).closest("form")
            $.confirm({
                backgroundDismiss: false,
                escapeKey: false,
                backgroundDismissAnimation: 'shake',
                title: 'Are you sure?',
                content: 'This action cannot be undone!',
                buttons: {
                    confirm: function () {
                        $form.submit()
                        
                    },
                    cancel: function () {
                        
                    },
                }
            });
        })
        
    }) 
</script>
{% endblock js %}