{% extends 'farms/base.html' %}
{% load widget_tweaks %}
{% load record_filters %}
{% block content %}
<div class="container-fluid" style="margin-top:15px;">
    <div class="row">
        <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">
            <div class="card-block">
                <h4 class="card-title">What's this?</h4>
                <p class="card-text" >These are your farms. Here you can file horses under farms for organizational purposes.</p> 
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <table class="table table-hover">
                <thead style="background-color: #00695c!important; color: #FFF!important;">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Edit Horses</th>
                        <th>
                            <form class="form" action="" method="GET">
                                <input name="keyword" id="keyword" class="in-green form-control" style="background-color:white !important; margin:0px; padding:0px" type="text" placeholder="Filter by Keyword">
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if farms|length > 0 %}
                    {% for farm in farms %}
                        {% with farm.id as num %}
                        <tr>
                            <td>{{farm.name}}</td>
                            <td>{% if farm.address %} {{farm.address}} {% endif %}</td>
                            <td><a href="{% url 'farms:review-farm' pk=farm.id %}" class="btn btn-info">Edit</a></td>
                            <td>
                                <form class="form" action="{% url 'farms:delete-farm' pk=farm.id %}">
                                    <button type="button" class="btn btn-danger btn-sm submitter" >Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="9" style="text-align:center">
                                No farms have been created yet.
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div class="card text-center">
                    <h3 class="card-header default-color-dark white-text">
                        Create Farm.
                    </h3>
                    <div class="card-block">
                        <div class="md-form {% if form.name.errors %} has-errors {% endif %}">
                            <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
                            {% render_field form.name class+="form-control" %}
                            {% if form.name.errors %}
                                {%  for error in form.name.errors %}
                                     <li style="color:red"> {{ error }} </li>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="md-form {% if form.address.errors %} has-errors {% endif %}">
                            <label for="{{form.address.id_for_label}}">{{form.address.label}}</label>
                            {% render_field form.address class+="md-textarea" %}
                            {% if form.address.errors %}
                                {%  for error in form.address.errors %}
                                     <li style="color:red"> {{ error }} </li>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                     <div class="card-footer text-muted default-color-dark white-text">
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-primary"/> 
                        </div>
                    </div>
                </div>  
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.enterKey = function (fnc) {
            return this.each(function () {
                $(this).keypress(function (ev) {
                    var keycode = (ev.keyCode ? ev.keyCode : ev.which);
                    if (keycode == '13') {
                        fnc.call(this, ev);
                    }
                })
            })
        }
        $("#keyword").enterKey(function() {
            $(this).closest("form").submit()
        })
        $("input").on('input', function() {
            var $label = $("label[for='"+$(this).attr('id')+"']");
            $label.hide()
        })
        $("input").change(function() {
            var $label = $("label[for='"+$(this).attr('id')+"']");
            if ($(this).val() == "") {            
            $label.show()
            }
        })
        $(".submitter").click(function() {
            $form =  $(this).closest("form")
            $.confirm({
                backgroundDismiss: false,
                escapeKey: false,
                backgroundDismissAnimation: 'shake',
                title: 'Are you sure?',
                content: 'This action cannot be undone!',
                buttons: {
                    confirm: function () {
                        $form.submit()
                        
                    },
                    cancel: function () {
                        
                    },
                }
            });
        })
        
    }) 
</script>
{% endblock js %}