{% extends 'records/base.html' %}
{% load widget_tweaks %}
{% load record_filters %}
{% block content %}
<div class="container" style="margin-top:15px;">
    <div class="row">
        <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card-block">
                <h4 class="card-title">What can I do here?</h4>
                <p class="card-text">Here you can modify the horses's information, along with add new medicines to the horse and edit/delete old schedules</p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card text-center" style="margin-top:15px">
                <h3 class="card-header default-color-dark white-text">
                    Edit {{horse.name}}.
                </h3>
                <div class="card-block">
                    <form id="horseForm" class="form" action="{% url 'records:review-horse' pk=horse.id %}" method="POST">
                        <input type="hidden" name="_method" value="HORSE"> 
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="md-form {% if form.name.errors %} has-errors {% endif %}">
                                <label for="{{form.name.id_for_label}}">{{form.name.label}}</label><br class="br"/>
                                {% render_field form.name class+="form-control" %}
                            </div>
                            {% if form.name.errors %}
                                {%  for error in form.name.errors %}
                                     <li style="color:red"> {{ error }} </li>
                                {% endfor %}
                            {% endif %}
                            <div class="row md-form form-group {% if form.dob.errors %} has-errors {% endif %}">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="{{form.dob.id_for_label}}" style="padding-left:15px">{{form.dob.label}}</label><br/>
                                    <div class="input-group date" data-provide="datepicker">
                                        {% render_field form.dob class+="form-control" %}
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    {% if form.dob.errors %}
                                        {%  for error in form.dob.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="{{form.weight.id_for_label}}" style="padding-left:15px;">{{form.weight.label}} in lbs</label><br/>
                                    {% render_field form.weight class+="form-control" %}
                                    {% if form.weight.errors %}
                                        {%  for error in form.weight.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row md-form form-group {% if form.weight.errors %} has-errors {% endif %}">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="md-form form-group {% if form.gender.errors %} has-errors {% endif %}">
                                        <label for="{{form.gender.id_for_label}}">{{form.gender.label}}</label><br/><br/>
                                        {% render_field form.gender class+="form-control" %}
                                    </div>
                                    {% if form.gender.errors %}
                                        {%  for error in form.gender.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="md-form form-group {% if form.pregnant.errors %} has-errors {% endif %}">
                                        <label for="{{form.pregnant.id_for_label}}">{{form.pregnant.label}}</label><br/><br/>
                                        {% render_field form.pregnant class+="form-control" %}
                                    </div>
                                    {% if form.pregnant.errors %}
                                        {%  for error in form.pregnant.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="md-form form-group {% if form.date_of_impregnation.errors %} has-errors {% endif %}">
                                        <label for="{{form.date_of_impregnation.id_for_label}}">{{form.date_of_impregnation.label}}</label><br/>
                                        <div class="input-group date" data-provide="datepicker">
                                            {% render_field form.date_of_impregnation class+="form-control" %}
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.date_of_impregnation.errors %}
                                        {%  for error in form.date_of_impregnation.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="md-form form-group {% if form.notes.errors %} has-errors {% endif %}">
                                        <label for="{{form.notes.id_for_label}}">{{form.notes.label}}</label>
                                        {% render_field form.notes class+="md-textarea" %}
                                    </div>
                                    {% if form.notes.errors %}
                                        {%  for error in form.notes.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card-footer text-muted default-color-dark white-text">
                    <div class="form-group">
                        <input type="submit" onclick="$(this).prop('disabled', true); $('#horseForm').submit()" value="Submit" class="btn btn-primary"/> 
                    </div>
                </div>  
                    </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card text-center" style="margin-top:15px">
                <h3 class="card-header default-color-dark white-text">
                    {{horse.name}}'s Current Medications
                </h3>
                    <div class="card-block" style="height:588px; overflow-y:scroll">
                    <form class="form" action="" method="post">
                    <input type="hidden" name="_method" value="DELETE_MEDICINE"> 
                        {% csrf_token %}
                        {% if medicines %}
                            {% for medicine in medicines %}
                            <div class="panel panel-info">
                                <div class="form-group">
                                    <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
                                        <span class="input-group-addon">
                                            <input type="checkbox" id="{{medicine.id}}" name="{{medicine.id}}">
                                        </span>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>
                                                           Name 
                                                    </th>
                                                    <td  style="text-align:left">
                                                            {{medicine.name}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                           Notes 
                                                    </th>
                                                    <td  style="text-align:left">
                                                             {{medicine.notes}} 
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Doses</th>
                                                    <th>Frequency</th>
                                                    <th>Demographic</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if schedules|get_item:medicine.id %}
                                                    {% for schedule in schedules|get_item:medicine.id %}
                                                        <tr>
                                                            <td>
                                                                {{schedule.doses}} doses
                                                            </td>
                                                            <td>
                                                                1 every {{schedule.frequency}} {{schedule.get_interval_display}}
                                                            </td>
                                                            <td>
                                                                {{schedule.get_classification_display}}
                                                            </td>
                                                        </tr>
                                                    {% endfor%}
                                                {% else %}
                                                    <tr>
                                                        <td colspan=3 style="text-align:center">No schedules have been added for this medicine</td>
                                                    </tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                    
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <p>No medicines are available. Did you forget to add them?</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted default-color-dark white-text">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#tempMedicine">Temporary Medicines</button>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="submit" value="Submit" class="btn btn-primary"/>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <a href="{% url 'records:medical-history' pk=horse.id %}" class="btn btn-info">Medical History</a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:1em">
            <div class="card text-center">
                <h3 class="card-header default-color-dark white-text">
                    Add Medications
                </h3>
                <form id="addMedicine" class="form" action="" method="post">
                    <input type="hidden" name="_method" value="ADD_MEDICINE"> 
                    <div class="card-block" style="height:500px; overflow-y:scroll">
                        {% csrf_token %}
                        {% if add_medicines %}
                            {% for medicine in add_medicines %}
                            <div class="panel panel-info">
                                <div class="form-group">
                                    <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
                                        <span class="input-group-addon">
                                            <input type="checkbox" aria-label="..." id="{{medicine.id}}" name="{{medicine.id}}">
                                        </span>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>
                                                           Name 
                                                    </th>
                                                    <td  style="text-align:left">
                                                            {{medicine.name}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                           Notes 
                                                    </th>
                                                    <td  style="text-align:left">
                                                             {{medicine.notes}} 
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Doses</th>
                                                    <th style="text-align:center">Frequency</th>
                                                    <th style="text-align:center">Demographic</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if add_schedules|get_item:medicine.id %}
                                                    {% for schedule in add_schedules|get_item:medicine.id %}
                                                        <tr>
                                                            <td>
                                                                {{schedule.doses}} doses
                                                            </td>
                                                            <td>
                                                                1 every {{schedule.frequency}} {{schedule.get_interval_display}}
                                                            </td>
                                                            <td>
                                                                {{schedule.get_classification_display}}
                                                            </td>
                                                        </tr>
                                                    {% endfor%}
                                                {% else %}
                                                    <tr>
                                                        <td colspan=3 style="text-align:center">No schedules have been added for this medicine</td>
                                                    </tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <p>No unadded medicines are available. Did you forget to make more?</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted default-color-dark white-text">
                        <div class="form-group">
                            <input type="submit" onclick="$(this).prop('disabled', true); $('#addMedicine').submit()" value="Submit" class="btn btn-primary"/> 
                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="tempMedicine" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Temporary Medicines</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="overflow-y: scroll; max-height:500px;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <table class="table table-hover">
                        <thead>
                            <th>&nbsp</th>
                            <th>Name</th>
                            <th>Date to Start</th>
                            <th>Schedules</th>
                            <th>&nbsp</th>
                        </thead>
                        <tbody>
                            {% for medicine in temp_meds %}
                                <tr>
                                    <td><a class="btn btn-primary btn-sm" href="{% url 'records:edit-temporary-medicine' pk=horse.id med=medicine.id %}">Review</a></td>
                                    <td>{{medicine.name}}</td>
                                    <td>{{medicine.date_to_start}}</td>
                                    <td>{{medicine.doses}} dose(s), 1 every {{medicine.frequency}} {{medicine.get_interval_display}} for {{medicine.get_classification_display}}</td>
                                    <td>
                                        <form class="form" action="{% url 'records:delete-temp-medicine' pk=horse.id med=medicine.id %}">
                                            <button type="button" class="btn btn-danger btn-sm submitter" >Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <form id="tempMed" class="form" action="" method="post">
                    <input type="hidden" name="_method" value="EDIT_TEMPS"> 
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <h4>New Temporary Medicine</h4>
                        <div class="panel-body">
                            <div class="md-form {% if temp_med_form.name.errors %} has-errors {% endif %}">
                                <label for="{{temp_med_form.name.id_for_label}}">{{temp_med_form.name.label}}</label>
                                {% render_field temp_med_form.name class+="temp_med_form-control" %}
                                {% if temp_med_form.name.errors %}
                                    {%  for error in temp_med_form.name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="md-form form-group {% if temp_med_form.notes.errors %} has-errors {% endif %}">
                                <label for="{{temp_med_form.notes.id_for_label}}">{{temp_med_form.notes.label}}</label>
                                {% render_field temp_med_form.notes class+="md-textarea" %}
                                {% if temp_med_form.notes.errors %}
                                    {%  for error in temp_med_form.notes.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="md-form form-group {% if temp_med_form.date_to_start.errors %} has-errors {% endif %}">
                                    <label for="{{temp_med_form.date_to_start.id_for_label}}" style="padding-left:15px">{{temp_med_form.date_to_start.label}}</label><br/>
                                    <div class="input-group date" data-provide="datepicker">
                                        {% render_field temp_med_form.date_to_start class+="temp_med_form-control" attr="required" %}
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    {% if temp_med_form.date_to_start.errors %}
                                        {%  for error in temp_med_form.date_to_start.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            <div class="row md-form form-group {% if temp_med_form.doses.errors %} has-errors {% endif %}">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <label for="{{temp_med_form.doses.id_for_label}}">{{temp_med_form.doses.label}}</label>
                                    {% render_field temp_med_form.doses class+="form-control" %}
                                    {% if temp_med_form.doses.errors %}
                                        {%  for error in temp_med_form.doses.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <p style="margin-top:15px">doses, 1 every</p>
                                </div>
                            </div>
                            <div class="row md-form form-group {% if temp_med_form.frequency.errors %} has-errors {% endif %}">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="{{temp_med_form.frequency.id_for_label}}">{{temp_med_form.frequency.label}}</label>
                                    {% render_field temp_med_form.frequency class+="form-control" %}
                                    {% if temp_med_form.frequency.errors %}
                                        {%  for error in temp_med_form.frequency.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="{{temp_med_form.interval.id_for_label}}">{{temp_med_form.interval.label}}</label><br />
                                    {% render_field temp_med_form.interval class+="form-control" %}
                                    {% if temp_med_form.interval.errors %}
                                        {% for error in temp_med_form.interval.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row md-form form-group {% if temp_med_form.classification.errors %} has-errors {% endif %}">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <p style="margin-top:15px">for </p>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                    <label for="{{temp_med_form.classification.id_for_label}}">{{temp_med_form.classification.label}}</label><br />
                                    {% render_field temp_med_form.classification class+="form-control" %}
                                    {% if temp_med_form.classification.errors %}
                                        {%  for error in temp_med_form.classification.errors %}
                                             <li style="color:red"> {{ error }} </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" onclick="$(this).prop('disabled', true); $('#tempMed').submit()" value="Submit" type="Submit" class="btn btn-primary"/>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $(document).on("click", function() {
        $('input').each(function(){
            var $label = $("label[for='"+$(this).attr('id')+"']");
            if ($(this).val() == "") {
                $label.show()
            }
        })  
    })
    $('#tempMedicine :input').each(function(){
        var $label = $("label[for='"+$(this).attr('id')+"']");
        if ($(this).val() != "") {
            $label.hide()
        }
    })  
    $("#tempMedicine :input").on('input', function() {
        var $label = $("label[for='"+$(this).attr('id')+"']");
        $label.hide()
    })
    $("#tempMedicine :input").change(function() {
        var $label = $("label[for='"+$(this).attr('id')+"']");
        if ($(this).val() == "") {            
            $label.show()
        }
    })
    $('.datepicker').datepicker({
         format: "yyyy-mm-dd",
         startDate: '-0d',
         clearBtn: true,
         orientation: 'bottom',
    });
    if ($("#id_dob").val().indexOf("-") > -1) {
        var val = $("#id_dob").val().split("-")
        val = val[1] + "/" + val[2] + "/" + val[0]
        $("#id_dob").val(val)
        console.log(val)
    }
    if ($("#id_gender").val() == 0) {
        $("#id_pregnant").val("0")
        $("#id_pregnant").prop( "disabled", true );
        $("#id_date_of_impregnation").prop("disabled", true)
    }
    $("#id_gender").change(function() {
        if ($(this).val() == 0) {
            $("#id_pregnant").val("0")
            $("#id_pregnant").prop( "disabled", true );
            $("#id_date_of_impregnation").prop("disabled", true)
        }
        else {
            $("#id_pregnant").prop( "disabled", false );
            $("#id_date_of_impregnation").prop("disabled", false)   
        }
    })
    $("#id_pregnant").change(function() {
        if ($(this).val() == 0) {
             $.confirm({
                backgroundDismiss: false,
                escapeKey: false,
                backgroundDismissAnimation: 'shake',
                title: 'Are you sure?',
                content: 'Changing the status to "Not Pregnant" will delete the date of impregnation. Continue?',
                buttons: {
                    confirm: function () {
                        $("#id_date_of_impregnation").datepicker("update", "")
                        
                    },
                    cancel: function () {
                        $("id_pregnant").val("1")
                    },
                }
            });
        }
    })
    $(".submitter").click(function() {
            $form =  $(this).closest("form")
            $.confirm({
                backgroundDismiss: false,
                escapeKey: false,
                backgroundDismissAnimation: 'shake',
                title: 'Are you sure?',
                content: 'This action cannot be undone!',
                buttons: {
                    confirm: function () {
                        $form.submit()
                        
                    },
                    cancel: function () {
                        
                    },
                }
            });
        })
   
})
</script>
{% endblock js %}