{% extends 'records/print_base.html' %}
{% load fullcalendar_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            {{today}}
                        </th>
                        <th style="text-align: center;">
                            Today's Reminders
                        </th>
                        <th>
                            Medicine Notes
                        </th>
                        <th>
                            Horse Notes
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>&nbsp</td>
                            <td>{{event.title}}</td>
                            <td>{% if event.medicine %}{{event.medicine.notes}}{% endif %}</td>
                            <td>{% if event.horse %}{{event.horse.notes}}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(function() {
        print(document)       
    })
</script>
{% endblock js %}